{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Catalog__Provider": "InMemory",
    "CoverStorage__Provider": "Blob",
    "BlobStorage__ConnectionString": "UseDevelopmentStorage=true",
    "BlobStorage__ContainerName": "covers"
  }
}
